{% extends "base.html" %}


{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="card">
    <div class="card-header">
        Perfil
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4 offset-md-4">

           



            </div>
        </div>



     
        <table class="table table-borderless">

            <tbody>
                <tr>
                    <th>Usuario</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
              
              
            </tbody>
        </table>
    </div>
</div>


{% else %}
<p><a href="{% url 'login' %}">Login</a></p>
{% endif %}

<script>

    document.getElementById("customFile").addEventListener("change", function () {
        filename = this.value.split("\\").pop()
        this.nextElementSibling.textContent = filename
        document.getElementById("favatar").submit()
    })

    document.getElementById("iavatar").onclick = function(){
        document.getElementById("customFile").click()
    }
</script>

{% endblock %}